.divTheme {
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-control {
    position: relative;
    padding: 0 4px;
}
.toggle-push-theme {
    margin: 3px;
}
.label {
    width: 28%;
    align-items: center;
    padding: 2px 10px;
    TEXT-ALIGN: center;
    color: #151414;
    font-size: 14px;
    font-weight: 900;
    background-image: linear-gradient(286deg, #817556, transparent);
    cursor: pointer;
    border-radius: 25%;
}

input[type='checkbox'].toggle {
    width: 40px;
    height: 10px;
    background-image: linear-gradient(10deg, #817556, transparent);
    position: relative;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    vertical-align: 2px;
    outline: none;
}

input[type='checkbox'].toggle + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    top: -1px;
    left: 3px;
    background-image: linear-gradient(120deg, #817556, transparent);
    opacity: 0.8;
}

input[type='checkbox'].toggle:checked + label {
    left: 27px;
}

