.movie {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #da9a3b;
    margin: 3px;
    width: 20%;
    min-width: 210px;
    max-width: 300px;
    border-radius: 7px;
    background-image: linear-gradient(120deg, #352f1f, transparent);
    cursor: pointer;
    height: 50vh;
}
.stars {
    width: 100%;
    height: 7%;
    align-items: center;
    inline-size: auto;
}

.title {
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    height: fit-content;
}

.switch {
    width: 90%;
    height: 85%;
    overflow: hidden;
}

.imgPoster {
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 10px;
    overflow: auto;
}

.info {
    width: 90%;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
}

